*{
    padding: 0px;
    margin: 0px;
    font-family: Franklin Gothic Medium,Franklin Gothic,ITC Franklin Gothic,Arial,sans-serif; 

}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------HEADER AND NAV--------------------------------------------------------------------------- */

/* top nav start */
.top-nav{
    height: 119px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a1b22ec;
}

.top-nav .left{
    padding-left: 100px;
}

.top-nav-elements {
    margin-right: 150px;
}

.top-nav-elements a{
    margin: 0px 20px;
    font-size: 17px;
    text-decoration: none;
    font-weight: bolder;
    color: whitesmoke;
    padding: 7px 12px;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
}

.top-nav-elements a:hover{
    background-color: #2AACE8;
    color: whitesmoke;
    transition: 0.5s ease-in-out;
}
.nav-login-edit:hover{
    color: whitesmoke !important;
}

.nav-login-edit{
    color: #2AACE8 !important;
    
}
/* top nav end */

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------LogIn Form------------------------------------------------------------------------- */
.login-body{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 90%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
}

.form-heading{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 30px;
}

form label{
    font-size: 20px;
    margin-bottom: 200px;
}

form .input-edit{
    height: 40px;
    width: 180%;
    border: 1px solid gainsboro;
}

.input-edit::placeholder{
    font-size: 18px;
    padding: 2px;
}

form p{
    font-size: 20px;
}

form button{
    height: 40px;
    width: 180%;
    color: whitesmoke;
    background-color: #192D4A;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in-out;

}

form button:hover{
    background-color: whitesmoke;
    color: #192D4A;
    transition: 0.2s ease-in-out;
}


form a{
    font-size: 18px;
    color: #051b3b;
    text-decoration: none;
}



/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------FOOTER----------------------------------------------------------------------------- */
.footer{
    background-color: #E0E0E0;
    height: 170px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
    /* child no 1 */
.footer .child-1{
    height: 80%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .child-1 h3{
    font-size: 25px;
    font-weight: bolder;
}

.footer .child-1 p{
    font-size: 20px;
}

/* child no 2 */
.footer .child-2{
    height: 80%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
}

.footer .child-2 h3{
    font-size: 25px;
    font-weight: bolder;
}

.footer .child-2 p{
    font-size: 20px;
}

.footer .child-2 p a{
    text-decoration: none;
    color: #051b3b;
}

.footer .child-2 p a:hover{
    color: blue;
    border-bottom: 1px solid blue;
}
/* child no 3 */
.footer .child-3{
    height: 80%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .child-3 h3{
    font-size: 25px;
    font-weight: bolder;
}


.footer .child-3 p{
    font-size: 20px;
}


.socials{
    display: flex;
}

.socials a{
    padding: 5px;
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */






